<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>
  <nav>
    <a href="/">Homepage</a>
  </nav>

  <div class="register part">
    <form action="/register" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required> 
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="cemail">Confirm Email:</label>
      <input type="email" id="cemail" name="cemail" required>
      <label for="pwd">Password:</label>
      <input type="password" id="pwd" name="pwd" required>
      <label for="cpwd">Confirm Password:</label>
      <input type="password" id="cpwd" name="cpwd" required>
      <button>Register</button>
    </form>
  </div>

</body>
</html>