.margin-top{
    margin-top: 15%;
}

.btn-success{
    background-color: #A3A9F4  !important;
    color: black !important; 
    font-family: 'Merriweather' !important;
    font-weight: 600 !important;
    font-size: 18px !important;
}

.btn-success:hover{
    background-color: #787CA9 !important;
}