.header{
    color: #f0fd71; 
}

.aboutPara{
    color: white;
}

.H5title{
    color: #f0fd71;

}

.H3title{
    color: #f0fd71;

}

.H2title{
    color: #f0fd71;
}

.QuestionSection{
    background-color: white;
}



